{{#each colors as |color|}}
<h1><b>{{color.value}}</b></h1>

<ul data-id="{{color.value}}">
   <li>{{#if color.value}}
     {{color.value}}
     {{else}}
     No color
     {{/if}}
   </li>
   <li><button class="delete" type="submit">DELETE</button></li>
 </ul>
</div>


{{/each}}

