@import '~bootstrap/scss/bootstrap';

body {
  width: 500px;
  height: 812px;
  background-color: #8f42f4;
  background-image: url('../../public/diamondThree.gif');
  background-repeat: no-repeat
  // background-size: contain;
}
img {
  width: 100%;
  height: auto
}

