@import '~bootstrap/scss/bootstrap';

body {
  width: 100%;
  height: 400px;
  background-color: #8f42f4;
  background-image: url("../../assets/images/diamond.gif");
  background-repeat: no-repeat;
  // background-size: contain;
}
img {
  width: 100%;
  height: auto;
}

