@import '~bootstrap/scss/bootstrap';

body {
  width: 500px;
  height: 812px;
  background-image: url('../../public/diamondFive.gif');
  background-repeat: no-repeat
  // background-size: contain;
}
img {
  width: 100%;
  height: auto
}

